body {font-family: Arial, Helvetica, sans-serif, KaiXinSong;}
.article-item p {
	/*font-size: 13px; 
	text-indent: 26px;*/
	font-size: 15px;
	line-height: 1.82;
	text-indent: 30px;
	margin-top: 10px;
	overflow: hidden;
	white-space: pre-wrap;
	width: 100%;
	word-wrap: break-word;
}
.article-item table p {
	font-size: 15px; 
	text-indent: 0px;
}
.article-item {
	width: 80%;
	margin-left:10%;
}

   .hanzi-img {
        /*border: 1px solid #eee;*/
        border-collapse: collapse;
        display: inline-table;
        font-size: 28px;
        width: 35px;
        height: 35px;
        margin: 1px 1px;
        padding: 2px 0px;
        vertical-align: middle;
    }

    .hanzi-item {
        /*border: 1px solid #eee;*/
        color: #003399;
        width: 35px;
        height: 35px;
        font-size: 28px;
        display: inline-table;
        vertical-align: middle;
        margin: 1px 1px;
        padding: 2px 0px;
        border-collapse: collapse;
    }

